body {
  background-image: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGlicmFyeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
  margin-top: 5em;
  font-family: 'Inter', sans-serif;
}
.carousel {
  overflow: hidden;
  max-width: 70%;
  position: relative;
  background-color: rgba(255,255,255,1);
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-top: 2em;
  box-shadow: 0 0 10em #909090;
  border: .25em solid black;
  padding-bottom: 2em;
}
.bookDiv {
  display: none;
}
.bookDiv.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bookAuthor {
  transform: translate(12em 0em 0em 6em);
}
.carousel-btns {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 60%;
  top: 50%;
  margin-left: 18%;
}
.carousel-btns > button {
  border-radius: 50%;
  font-weight: bold;
  padding: .5em .75em .5em .75em;
  font-size: 1.5em;
  background-color: rgba(93,93,94,.6);
  border: .1em solid black;
  cursor: pointer;
}
.search-container {
  display: flex;
  justify-content: center;
  background-color: rgba(93,93,94,.6);
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}
label {
  color: white;
  font-size: 2em;
  margin-bottom: 1em;
  font-family: 'Encode Sans SC', sans-serif;
}
form, select, {
  font-size: 1.5em;
}
.searchBox2 {
  font-size: 1.5em;
  margin-top: 1em;
  border-radius: 15px;
  text-align: center;
  margin-left: 1.1em;
  margin-bottom: 1em;
}
.submit {
  transform: translateX(-3.25em) translateY(.4em);
}
.bookInfo {
  background-color: rgba(0,23,123,.8);
  color: white;
  padding: 1em;
  border-radius: 15px;
}
.bookAmazon {
  background-image: url('https://www.citypng.com/public/uploads/preview/-11596324215y9g3jpw3wf.png');
  background-size: cover;
  width: 12em;
  height: 4em;
}
.bookSum {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3em;
}
.bookSum > img {
  margin-right: 2em;
}
.bookSumRight {
  display: flex;
  flex-direction: column;
}
.bookTitle {
  font-family: 'Encode Sans SC', sans-serif;
}
.random {
  background-color: rgba(0,23,123,.8);
  color: white;
  border-radius: 15px;
  padding: .5em;
}
